:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cerrar:hover{
  background-color: #d00000;
}

.modal-container {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  margin-top: 90px;
  margin-left: 22px;
  text-align: center;
}

img.logo {
  height: 40px; /* Ajusta la altura del logo */
  margin-left: 10px; /* Margen para separarlo del borde */
}
